@charset "UTF-8";

.container {
    background-color: #05488a;
    font-family: 'Agdasima', sans-serif;
}

.corpo {
    max-width: 800px;
    margin: 0 auto;
  }

  .logo-site {
    font-size: 5em;
    font-family: 'Amatic SC', cursive;
  }

  .indicacao {
    font-size: 2em;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    margin: 0 auto;
    min-height: 500px;
  }

  .paragrafo {
    border-radius: 10px;
    background-color:rgb(22, 22, 37) ;
    font-size: 3em;
  }

  .footer {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
  }

  footer > a {
    font-weight: bold;
    text-decoration: none;
  }

  @media screen and (max-width: 600px) {
    .form {
        min-height: 300px;
    }

    .logo-site {
      font-size: 3rem;
    }
}